<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Find My Vibe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="slide slide-about">

    <div class="about-box">
        <h2>Cities Have Moods</h2>
        <p>
            Travel is not about distance or price.  
            It’s about how a place makes you feel.
        </p>
        <p>
            Find My Vibe helps you discover places
            based on emotion, atmosphere, and soul.
        </p>
    </div>

</body>
</html>
